services:
  spark:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: spark
    command: ["/bin/bash", "-c", "/opt/spark/sbin/start-master.sh && tail -f /dev/null"]
    volumes:
      - ../:/app
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark
    networks:
      - agri-network

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: agri_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - agri-network

volumes:
  postgres_data:

networks:
  agri-network:
    external: true

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    networks:
      - agri-network
    depends_on:
      - postgres
