services:
  superset:
    build:
      context: .
      dockerfile: Dockerfile.superset
    container_name: superset
    ports:
      - "8088:8088"
    networks:
      - agri-network
    environment:
      - SUPERSET_SECRET_KEY=mysecretkey
      # Cette ligne aide Superset à savoir qu'il est derrière un proxy/localhost
      - TALISMAN_ENABLED=False 

networks:
  agri-network:
    external: true