services:
  superset:
    image: apache/superset:2.1.0
    container_name: superset
    ports:
      - "8088:8088"
    networks:
      - agri-network
    environment:
      - SUPERSET_SECRET_KEY=mysecretkey
      - TALISMAN_ENABLED=False
    command: >
      bash -c "
      pip install psycopg2-binary &&
      superset db upgrade &&
      superset init &&
      /usr/bin/run-server.sh --host 0.0.0.0 --port 8088
      "

networks:
  agri-network:
    external: true