services:
  superset:
    image: apache/superset:latest
    container_name: superset
    ports:
      - "8088:8088"
    networks:
      - agri-network
    environment:
      SUPERSET_SECRET_KEY: mysecretkey

networks:
  agri-network:
    external: true
